table {
    margin-top: 32px;
}

#crtEvBtn {
    margin-top: 16px;
}

#dltEvBtn {
    float: right;
}

td {
    padding-left: 5%;
    padding-right: 5%;
    vertical-align: middle !important;
    cursor: pointer;
}

table tr {
    background: white;
    transition: background 0.7s;
    border-radius: 50px;
}

table tr:hover {
    background: rgb(241, 241, 241);
    transition: background 0.7s;
    border-radius: 50px;
}